<%- include('partials/header')%>

    <main>
        <h1>
            <%= title %>
        </h1>

        <form action="/new-category" method="POST">
            <div class="form-group">
                <label for="category_name">Category Name</label>
                <input type="text" id="category_name" name="category_name" required maxlength="100">
            </div>

            <button type="submit">Add new Category! 💪</button>
        </form>
    </main>

    <%- include('partials/footer') %>